<div class="home-block-container mandatory">
    <div class="mgma-logo-one">
        <img src="/images/mgma-logo-0.png" alt="MGMA Logo">
    </div>
    <div class="text">
        <div>Mandatory Membership Responsibility</div>
        <div>Myanmar Garment Manufacturers Association's</div>
        <div>Voluntary Labour Compliance Assessment (VLCA)</div>
        <div>Ensuring all members meet the baseline. The industry do it voluntarily but the members do it compulsorily. We believe it is our responsibility.</div>
        <div><a href="/form/" class="form-button">Submission Form</a><a href="/upload/" class="upload-button">Upload</a></div>
    </div>
    <div class="mgma-logo-two">
        <img src="/images/mgma-logo-0.png" alt="MGMA Logo">
    </div>
</div>