<div class="home-block-container grades">
    <a href="/grades/">
        <table class="vlca-compliance-grades">
            <tr class="vlca-tds">
                <td colspan="2">V</td>
                <td colspan="2">L</td>
                <td colspan="2">C</td>
                <td colspan="2">A</td>
            </tr>
            <tr class="text-tds">
                <td colspan="2">Non</td>
                <td colspan="2">Partial</td>
                <td colspan="2">Full</td>
                <td colspan="2">Higher</td>
            </tr>
            <tr class="color-tds">
                <td style="background-color: #000000;">&nbsp;</td>
                <td style="background-color: #FF0000;">&nbsp;</td>
                <td style="background-color: #FF8000;">&nbsp;</td>
                <td style="background-color: #FFFF00;">&nbsp;</td>
                <td style="background-color: #81D41A;">&nbsp;</td>
                <td style="background-color: #00A933;">&nbsp;</td>
                <td style="background-color: #55308D;">&nbsp;</td>
                <td style="background-color: #800080;">&nbsp;</td>
            </tr>
        </table>
    </a>
</div>