<div class="home-block-container manual">
    <div><iframe src="https://www.youtube.com/embed/mBJ3cEdtE5w" frameborder="0" width="600" height="333"></iframe></div>
    <div>
        <h2>VLCA Submission Form Manual</h2>
        <p>First time? Watch this YouTube Video.</p>
        <ol>
            <li>Complete VLCA Submission Form,</li>
            <li>Download PDF file and send it email to <a href="mailto:mgmavlca@gmail.com">mgmavlca@gmail.com</a>,<br>
            <b>Note:</b> after completion of this step, membership admission or renewal can be proceeded.</li>
            <li><a href="/upload/">Upload</a> or send email the required documents.</li>
        </ol>
    </div>
</div>