<div class="total-factories">Total: <span id="factories-count">0</span></div>
<div class="factories-search-container">
    <form class="factories-search-form">
        <input type="search" id="factories-search" placeholder="Search..." autocomplete="off">
        <button type="reset">&times;</button>
    </form>
</div>
<div id="factories-block"></div>
<template id="factories-template">
    <div class="each-factory-block">
        <div class="each-factory-name"></div>
        <div class="each-factory-flexbox">
            <div class="each-factory-type"></div>
            <div class="each-factory-workers"></div>
            <div class="each-factory-position"></div>
            <div class="each-factory-timestamp"></div>
        </div>
    </div>
</template>