<div class="total-reports">Total: <span id="reports-count">0</span></div>
<div class="reports-search">
    <form class="reports-search">
        <input type="search" placeholder="Search..." autocomplete="off">
        <button type="reset">&times;</button>
    </form>
</div>
<div id="all-reports">Loading...</div>
<template id="reports-template">
    <div class="each-report">
        <div class="name"></div>
        <div class="grade"></div>
        <div class="status-line">
            <span class="status"></span>:
            <span class="country"></span>
            <span>@</span>
            <span class="period"></span>
            <span>@</span>
            <span class="date"></span>
            <span>@</span>
            <span class="timestamp"></span>
        </div>
    </div>
</template>