<div>
    <p>According to data submitted by the member factories through <a href="/form/">VLCA Submission Form</a>:</p>

    <h3 class="mb3rem"><a href="/docs/records/factories-list-2025/">Factories List that completed VLCA Submission Form</a></h3>

    <h3>Completion Rate</h3>
    <div style="max-width: 100%; overflow: auto;" class="mb3rem">
        <iframe width="600" height="371" seamless frameborder="0" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQRitIpwqdzFu3COahxgElhbeUEZpXzUYWm7W5_EiJFmrGRf3eZmY4fJ6LHVJjAkkTAVDP3LfhpguRc/pubchart?oid=408152428&amp;format=interactive"></iframe>
    </div>

    <h3>Responses Overview</h3>
    <div style="max-width: 100%; overflow: auto;" class="mb3rem">
        <iframe width="600" height="371" seamless frameborder="0" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQRitIpwqdzFu3COahxgElhbeUEZpXzUYWm7W5_EiJFmrGRf3eZmY4fJ6LHVJjAkkTAVDP3LfhpguRc/pubchart?oid=50847777&amp;format=interactive"></iframe>
    </div>

    <h3>Occupational Safety and Health</h3>
    <div style="max-width: 100%; overflow: auto;">
        <iframe width="600" height="371" seamless frameborder="0" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQRitIpwqdzFu3COahxgElhbeUEZpXzUYWm7W5_EiJFmrGRf3eZmY4fJ6LHVJjAkkTAVDP3LfhpguRc/pubchart?oid=1232411348&amp;format=interactive"></iframe>
    </div>
    <div style="max-width: 100%; overflow: auto;" class="mb3rem">
        <iframe width="600" height="371" seamless frameborder="0" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQRitIpwqdzFu3COahxgElhbeUEZpXzUYWm7W5_EiJFmrGRf3eZmY4fJ6LHVJjAkkTAVDP3LfhpguRc/pubchart?oid=856220613&amp;format=interactive"></iframe>
    </div>

    <h3>Documents</h3>
    <div style="max-width: 100%; overflow: auto;" class="mb3rem">
        <iframe width="600" height="371" seamless frameborder="0" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQRitIpwqdzFu3COahxgElhbeUEZpXzUYWm7W5_EiJFmrGRf3eZmY4fJ6LHVJjAkkTAVDP3LfhpguRc/pubchart?oid=917293789&amp;format=interactive"></iframe>
    </div>
</div>