<div class="see-container">
    <p>Leave means earned Leave (annual leave), casual leave, medical leave, maternity leave.</p>
</div>
<div class="see-container">
    <h3 id="earned-leave">Earned Leave (Annual Leave)<i class="fa-solid fa-link"></i></h3>
    <p>If the worker has completed 12 continuous months of work service, he/she is entitled to 10 continuous days of earned leave (annual leave) during the next 12 months after completion of the said 12 continuous months.</p>
    <p>However, it has become a unanimously accepted industrial practice that the employers pay cash benefits for those earned leave (annual leave) days in stead of leave days.</p>
    <a href="#" class="legal-reference"><i class="fa-solid fa-arrow-right"></i>Section 4 of The Leave and Holiday Act</a>
    <ul>
        <li>As it is the fundamental legal right of the worker to enjoy the earned leave days declining to receive cash benefits, it is legal obligation of the employer to manage and allow earned leave days if the worker asked for doing so.</li>
        <li>For paying cash benefits for those unused or will-not-be-used earned leave days, it is strongly recommended to calculate service years based on the workers' join date individually. As it can cause statistical complication detrimental to the worker's right, it is not recommended to calculate the workers' service years base on the fixed dates of a calendar year.</li>
        <li>It is recommended to thoroughly keep records of paying cash benefits for unused or will-not-be-used earned leave days.</li>
    </ul>
</div>
<div class="see-container">
    <h3 id="casual-leave">Casual Leave<i class="fa-solid fa-link"></i></h3>
    <p>The worker is entitled to 6 days of casual leave in a year with relevant wages or basic wages. The casual leave days shall not exceed 3 continuous days except in case of travelling long distance and/or special religious day. The casual leave day shall not be joined with any other type of leave day. Unused casual leave day is automatically cancelled.</p>
    <a href="#" class="legal-reference"><i class="fa-solid fa-arrow-right"></i>Section 5 of The Leave and Holiday Act</a>
    <p>The worker is entitled to enjoying casual leave, medical leave and maternity leave during training and probation periods.</p>
    <a href="#" class="legal-reference"><i class="fa-solid fa-arrow-right"></i>Rule 24 of The Leave and Holiday Rules</a>
    <ul>
        <li>It is not legally allowed to have or practice the rules controlling or restricting the worker's right of enjoying casual leave days by any means. For example,
            <ul>
                <li>having stipulation that the new worker shall not take casual leave during training or probation period. It is usually found that those similar stipulations are written in undertaking of the new worker on employment.</li>
                <li>applying part of the provision that the worker is entitled to one casual leave day for every 2 months for the purpose of limiting the worker's right. The provision should be read and practiced as a whole.
                    <a href="#" class="legal-reference" style="margin-bottom: unset;"><i class="fa-solid fa-arrow-right"></i>Rule 28 of The Leave and Holiday Rules</a>
                </li>
                <li>practicing administrative restriction or disciplinary measure to control or limit the worker's right of taking casual leave.</li>
                <li>forcing the worker to use earned leave (annual leave) days before using casual leave days because cash benefits have to be paid for those unused earned leave days but not for those unused casual leave days.</li>
                <li>...</li>
            </ul>
        </li>
        <li>It is understandable that employers, in order to maintain stability of production lines in nature of manufacturing, may want to discourage the workers from taking leave days very frequently. If this is the case, it is recommended to consider offering cash benefits for those unused casual leave days.</li>
    </ul>
</div>
<div class="see-container">
    <h3 id="medical-leave">Medical Leave<i class="fa-solid fa-link"></i></h3>
    <p>The worker must be entitled to a period not more than 30 days of medical leave in a year with relevant wages or salary. However the worker who has not completed minimum 6 months of work service must not be entitled to medical leave with wages. If the worker has not completed minimum 6 months of work service, he/she is entitled to medical leave without wages. The medical certificate must be submitted.  Medical leave days would be cancelled if they were not used in a relevant year.</p>
    <a href="#" class="legal-reference"><i class="fa-solid fa-arrow-right"></i>Section 6 of The Leave and Holiday Act</a>
    <ul>
        <li>Medical leave is to be allowed with 100% basic wage, rather than making the worker wait for 2-3 months for SSB benefits.</li>
        <li>If the factory does not offer 100% basic wage, it is recommended to pay at least 40% of the worker's salary from the factory side without putting the worker in waiting list.</li>
    </ul>
</div>
<div class="see-container">
    <h3 id="maternity-leave">Maternity Leave<i class="fa-solid fa-link"></i></h3>
    <p>The worker who has completed 6 months of work service is entitled to 6 weeks before birth and 8 weeks after birth as maternity leave.</p>
    <a href="#" class="legal-reference"><i class="fa-solid fa-arrow-right"></i>Paragraph 7(c)(4) of The Employment Contract</a>
    <p>The male worker who registered with SSB is entitled to 15 days of paternity leave if his wife gave birth.</p>
    <a href="#" class="legal-reference"><i class="fa-solid fa-arrow-right"></i>Section 28 of The Social Security Law</a>
    <ul>
        <li>It is recommended to keep records of maternity and paternity leaves.</li>
        <li>It is recommended to maintain the current pregnant women workers list.</li>
    </ul>
</div>