<div class="see-container mt3rem">
    <h3>Temporary Daily Worker<i class="fa-solid fa-link"></i></h3>
    <p>The term "<b>temporary daily worker</b>" has precarious connotation. If the employer appoints the worker without signing an employment contract or intention of offering permanent employment later, that worker is typically referred to as temporary daily worker. It has nothing to do with the <b>training</b> or <b>probation</b> periods by which the employer initiates employment process with the written or oral agreement, or at leas mutual understanding, for permanent employment later.</p>
    <p>So, the provision according to which the employer can pay minimum 50% of minimum wage rate during 3 months of training  period and minimum 75% of minimum wage rate during 3 months of probation period can not be applied in the case of temporary daily worker.</p>
    <a href="#" class="legal-reference"><i class="fa-solid fa-arrow-right"></i>Section 43(l) of The Minimum Wage Rules</a>
    <ul>
        <li>It is legal obligation to pay at least minimum wage rate (4800 MMK) to the temporary daily worker.</li>
    </ul>
    <p>If the worker has completed prescribed weekly working hours (44 hours per week), he/she is entitled to at least one weekly rest day with relevant wages or basic wages.</p>
    <a href="#" class="legal-reference"><i class="fa-solid fa-arrow-right"></i>Section 3 of The Leave and Holiday Rules</a>
    <ul>
        <li>It is legal requirement to pay wages for one weekly rest day (Sunday) if the temporary daily worker has completed prescribed weekly working hours (44 hours per week).</li>
    </ul>
    <p>Working hours exceeding 8 hours per day and/or 44 hours per week is classified as overtime. An Overtime premium rate must be paid for all overtime hours worked.</p>
    <a href="#" class="legal-reference"><i class="fa-solid fa-arrow-right"></i>Section 59 of 1951 The Factories Act</a>
    <a href="#" class="legal-reference"><i class="fa-solid fa-arrow-right"></i>Section 62 of 1951 The Factories Act</a>
    <a href="#" class="legal-reference"><i class="fa-solid fa-arrow-right"></i>Section 73(1) of 1951 The Factories Act</a>
    <ul>
        <li>It is legal requirement to pay overtime premium rate for all overtime hours worked after 8 hours per day and/or 44 hours per week. For example, in general case:
            <ul>
                <li>The 9th, 10th and 11th hours worked from Monday to Friday are considered overtime hours, and overtime premium rate must be paid.</li>
                <li>Additionally, any work performed during the 4 afternoon hours on Saturdays is also classified as overtime, requiring payment at the overtime premium rates.</li>
            </ul>
        </li>
    </ul>
    <p>Other Recommendations</p>
    <ul>
        <li>paying wages daily or weekly (at least), <b>not monthly</b>.</li>
        <li>SSB registration and paying SSB contribution</li>
        <li>...</li>
    </ul>
</div>