<div class="footer">
    <h3>MGMAVLCA</h3>
    <p><i class="fa-solid fa-envelope"></i>&ensp;mgmavlca@gmail.com</p>
    <p><i class="fa-solid fa-phone"></i>&ensp;+95 9 25 731 3341</p>
    <p><i class="fa-solid fa-home"></i>&ensp;<a href="https://www.myanmargarments.org">www.myanmargarments.org</a></p>
    <p><i class="fa-solid fa-blog"></i>&ensp;<a href="https://www.mgmavlca.com">www.mgmavlca.com</a></p>
    <p class="copyright mt3rem"><i class="fa-solid fa-copyright"></i>&ensp;All Rights Reserved by MGMA</p>
</div>