<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ with .Description }}{{ . }} {{ end }}The Voluntary Labor Compliance Assessment (VLCA) of the Myanmar Garment Manufacturers Association (MGMA) helps ensure all members meet a baseline for compliance with Myanmar labor laws. This effort is aimed at promoting Myanmar garments industry.">

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

<!-- <link rel="canonical" href="{{ .Permalink }}" /> -->
<link rel="canonical" href="https://mgmavlca.com{{ .RelPermalink }}">

<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
<meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}">
<meta property="og:description" content="{{ with .Description }}{{ . }} {{ else }}Voluntary Labor Compliance Assessment (VLCA){{ end }}">
<meta property="og:url" content="https://mgmavlca.com{{ .RelPermalink }}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:image" content="{{ with .Params.featured_image }}{{ . }}{{ else }}/images/mgma-logo-0.png{{ end }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }} {{ else }}Voluntary Labor Compliance Assessment (VLCA){{ end }}">
<meta name="twitter:image" content="{{ with .Params.featured_image }}{{ . }}{{ else }}/images/mgma-logo-0.png{{ end }}">

<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
<link rel="shortcut icon" href="/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
<link rel="manifest" href="/favicon/site.webmanifest" />

<link rel="stylesheet" href="/fonts/awesome/css/fontawesome.css">
<link rel="stylesheet" href="/fonts/awesome/css/solid.css">
<link rel="stylesheet" href="/fonts/awesome/css/brands.css">

<link rel="stylesheet" href="/fonts/material-symbols/outlined.css">

{{ partialCached "head/base.html" . }}
{{ partialCached "head/header.html" . }}
{{ partialCached "head/footer.html" . }}

{{ if .IsHome }}
    {{ partialCached "head/home.html" . }}
{{ else if .IsPage }}
    {{ partialCached "head/page.html" . }}
    {{ if eq .Params.page.add "form" }}
        {{ partialCached "head/form.html" . }}
    {{ else if eq .Params.page.add "grades" }}
        {{ partialCached "head/grades.html" . }}
    {{ else if eq .Params.page.add "flist" }}
        {{ partialCached "head/flist.html" . }}
    {{ else if eq .Params.page.add "see" }}
        {{ partialCached "head/see.html" . }}
    {{ else if eq .Params.page.add "search" }}
        {{ partialCached "head/search.html" . }}
    {{ else if eq .Params.page.add "complain" }}
        {{ partialCached "head/complain.html" . }}
    {{ end }}
{{ else if .IsSection }}
    {{ partialCached "head/section.html" . }}
    {{ if eq .Params.section.add "see" }}
        {{ partialCached "head/see.html" . }}
    {{ end }}
{{ end }}

{{ if .HasShortcode "warning" }}
    {{ partialCached "head/warning.html" . }}
{{ end }}
