<div class="inner-width">
    <div id="mobileMenuButton"><i class="fa-solid fa-bars"></i></div>
    <div class="mgmavlca-text-logo"><a href="/">MGMAVLCA</a></div>
    <div class="menubar">
        <div id="mobileMenuClose"><i class="fa-solid fa-close"></i></div>
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
        <div><a href="/search/"><i class="fa-solid fa-search"></i></a></div>
        <div><a href="https://www.myanmargarments.org/"><i class="fa-solid fa-house"></i></a></div>
        <div><a href="https://www.mgmavlca.com"><i class="fa-solid fa-blog"></i></a></div>
    </div>
</div>