<div class="complain">
    <div class="logo-title">
        <img src="/images/mgma-logo-0.png" alt="MGMA Logo" class="complaint-mgma-logo">
        <h2 class="complaint-form-title">Complaint Form</h2>
    </div>
    <div class="confirmed-message">
        <span id="close-confirmed-message">&times;</span>
        <p>တိုင်ကြားချက်ကို လက်ခံရရှိပါသည်။ လိုအပ်သလို ဆက်လက်ဆောင်ရွက်ပေးပါမယ်။</p>
        <p>The complaint has been well received and the process will continue as required.</p>
        <p class="close-this">နောက်ထပ်တိုင်ကြားမှုအသစ်ပို့ရန် ဒါကို ပိတ်ပါ။ Close this for new complaint.</p>
    </div>
    <form id="complaintForm" action="/mgma-complaint-form-submit" method="POST">
        <button type="reset" class="reset-form">Clear All</button>
        <label for="entry.217843953">အမည် (Name)</label>
        <input type="text" name="entry.217843953" id="entry.217843953" placeholder="အမည် (Name)" autocomplete="off">
        <label for="entry.1858711872">ဖုန်းနံပါတ် (Phone No.)</label>
        <input type="text" name="entry.1858711872" id="entry.1858711872" placeholder="ဖုန်းနံပါတ် (Phone No.)" autocomplete="off">
        <label for="entry.1447660625">တိုင်ကြားချက် (Complaint) <span class="ast">&ast;</span></label>
        <textarea name="entry.1447660625" id="entry.1447660625" rows="6" placeholder="တိုင်ကြားချက် အကြောင်းအရာ (complaint description)" required autocomplete="off"></textarea>
        <input type="text" name="entry.48974302" id="entry.48974302" value="compLaiNuS99@">
        <button type="submit" id="submitComplaint">တိုင်ကြားချက်ပို့မည် (Submit)</button>
    </form>
</div>