.com-data-ctn {
    border: 1px solid lightgray;
    margin-bottom: 1rem;
    padding: 9px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #ddd;
}
.com-data {
    margin-bottom: 1rem;
}
fieldset {
    min-width: 0;
    border: 1px solid lightgray;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #ddd;
    padding: 1rem;
    margin-bottom: 2rem;
}
legend {
    font-weight: 600;
    padding: 0 6px;
}
label, input, select, textarea {
    display: block;
    width: 100%;
    font-size: inherit;
}
textarea {
    min-width: 100%;
    max-width: 100%;
}

.section-view-toggle {
    font-size: 1rem;
    font-weight: 600;
    padding: 3px 6px;
    background-color: #ddd;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 1rem;
}
.section-view-toggle .mps {
    display: inline-flex;
    background-color: darkgray;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    color: #eee;
    margin-right: 9px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

table.grade {
    width: 100%;
    table-layout: fixed;
}
table.grade tr, table.grade td {
    background-color: lightgray;
    text-align: center;
}

table.grade input[type="checkbox"] {
    display: none;
}
.grade-checkbox-label {
    display: block;
    height: 2rem;
    width: 100%;
    cursor: pointer;
}
#gNa:checked + .grade-checkbox-label {
    background-color: #000000;
}
#gNb:checked + .grade-checkbox-label {
    background-color: #FF0000;
}
#gPa:checked + .grade-checkbox-label {
    background-color: #FF8000;
}
#gPb:checked + .grade-checkbox-label {
    background-color: #FFFF00;
}
#gFa:checked + .grade-checkbox-label {
    background-color: #81D41A;
}
#gFb:checked + .grade-checkbox-label {
    background-color: #00A933;
}
#gHa:checked + .grade-checkbox-label {
    background-color: #55308D;
}
#gHb:checked + .grade-checkbox-label {
    background-color: #800080;
}

.assessment-part {
    padding: 6px 9px 9px 9px;
    border: 1px solid lightgray;
    margin-bottom: 1rem;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #ddd;
}
#tagsReferences {
    width: 100%;
    min-height: 3rem;
    border: 1px solid #999;
    padding: 0.5rem;
}

