.com-data-ctn {
    border: 1px solid lightgray;
    margin-bottom: 1rem;
    padding: 9px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #ddd;
}
.com-data {
    margin-bottom: 1rem;
}
table.grade {
    width: 100%;
    table-layout: fixed;
    border: 1px solid lightgray;
    margin-top: 0.5rem;
}
table.grade tr td {
    background-color: lightgray;
    height: 2rem;
    text-align: center;
}
table.grade tr td.gna.selectcolor {
    background-color: #000000;
}
table.grade tr td.gnb.selectcolor {
    background-color: #FF0000;
}
table.grade tr td.gpa.selectcolor {
    background-color: #FF8000;
}
table.grade tr td.gpb.selectcolor {
    background-color: #FFFF00;
}
table.grade tr td.gfa.selectcolor {
    background-color: #81D41A;
}
table.grade tr td.gfb.selectcolor {
    background-color: #00A933;
}
table.grade tr td.gha.selectcolor {
    background-color: #55308D;
}
table.grade tr td.ghb.selectcolor {
    background-color: #800080;
}
.tags-references-toggle {
    text-align: center;
    font-size: 0.75rem;
    color: #ddd;
    background-color: darkslategray;
    cursor: pointer;
    margin-top: 6px;
}
.tags-references-ctn {
    display: none;
    border: 2px solid darkslategray;
    padding: 3px 9px;
    height: 18rem;
    overflow-y: scroll;
    scrollbar-width: none;
}
.tags-references-ctn .tr-title {
    display: none;
}
.each-tr-ctn {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    border: 1px solid lightgray;
    margin: 9px 0;
    border-radius: 6px;
}
.each-tr-ctn div {
    flex: 0 0 100%;
}
.each-tr-ctn div.tag-name {
    font-family: monospace;
    font-weight: 600;
    margin-bottom: 3px;
}
.each-tr-ctn div.tag-link {
    white-space: nowrap;
    overflow-x: auto;
    font-family: monospace;
    font-size: 1rem;
    padding: 6px;
    background-color: lightgray;
    border-radius: 3px;
}
.tags-references-update {
    font-size: 1rem;
    margin: 1rem 0;
}
fieldset {
    min-width: 0;
    border: 1px solid lightgray;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #ddd;
    padding: 1rem;
    margin-bottom: 2rem;
}
legend {
    font-weight: 600;
    padding: 0 6px;
}
label, input, select, textarea {
    display: block;
    width: 100%;
    font-size: inherit;
    padding: 6px;
}
textarea {
    min-width: 100%;
    max-width: 100%;
}
.section-view-toggle {
    font-size: 1rem;
    font-weight: 600;
    padding: 3px 6px;
    background-color: #ddd;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 1rem;
}
.section-view-toggle .mps {
    display: inline-flex;
    background-color: darkgray;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    color: #eee;
    margin-right: 9px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.assessment-part {
    padding: 6px 9px 9px 9px;
    border: 1px solid lightgray;
    margin-bottom: 1rem;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #ddd;
}
#tagsReferences {
    width: 100%;
    min-height: 3rem;
    border: 1px solid #999;
    padding: 0.5rem;
}
#caFormSubmit {
    padding: 9px 18px;
    font-size: 1.5rem;
    background-color: darkslategray;
    color: #eee;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
    #caFormSubmit:hover {
        background-color: gray;
    }
}
