{{ $src := .Get "src" }}
{{ $size := .Get "size" }}
{{ $link := .Get "link" }}
{{ $alt := .Get "alt" | default "mgmavlca website image" }}
{{ $class := .Get "class" | default "image-style-one" }}
{{ $loading := .Get "loading" | default "loading..." }}

{{ with resources.Get $src }}
{{ if $size }}
    {{ with .Resize $size }}
        {{ if $link }}
        <a href="{{ $link }}">
            <img src="{{ .RelPermalink }}" alt="{{ $alt }}" class="{{ $class }}" loading="{{ $loading }}">
        </a>
        {{ else }}
        <img src="{{ .RelPermalink }}" alt="{{ $alt }}" class="{{ $class }}" loading="{{ $loading }}">
        {{ end }}
    {{ else }}
        {{ errorf "Failed to resize image: %s" $src }}
    {{ end }}
{{ else }}
    {{ if $link }}
    <a href="{{ $link }}">
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $alt }}" class="{{ $class }}" loading="{{ $loading }}">
    </a>
    {{ else }}
    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $alt }}" class="{{ $class }}" loading="{{ $loading }}">
    {{ end }}
{{ end }}
{{ end }}