{{ define "main" }}
<div class="section">
    {{ partial "misc/go-back.html" . }}
    <section>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{/*
            This was commented for weight sorting first.
            {{ $pages := (.Pages.ByWeight).ByDate.Reverse }}
        */}}
        {{ $pages := (.Pages.ByDate.Reverse).ByWeight }}
        {{ $paginator := .Paginate $pages 9 }}
        {{ range $paginator.Pages }}
        <article>
            <h3><a href="{{ .RelPermalink }}" class="list-title">{{ .LinkTitle }}</a></h3>
            <summary>
                {{ if .Description }}
                    {{ .Description }}
                {{ else }}
                    {{ .Summary | plainify | truncate 180 }}
                {{ end }}
            </summary>
            <div class="time-readmore">
                {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                {{ $dateHuman := .Date | time.Format ":date_long" }}
                <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                <div><a href="{{ .RelPermalink }}" class="read-more">READ MORE</a></div>
            </div>
        </article>
        {{ end }}
        <div class="pagination-wrapper">
            {{ partial "pagination.html" . }}
        </div>
        <div>&nbsp;</div>
    </section>
</div>
{{ end }}